:root {
  --main-font: 'Playfair Display', cursive;
  --line-height: 1.5;
  --font-weight: 400;
  --color-scheme: light dark;
  --background-color: #f6f6f6;
  --text-color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  background-color: #e2e2e2;
}

@keyframes glow {
  0% {
    box-shadow: 0 4px 8px rgba(0, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 8px 16px rgba(0, 247, 255, 0.3), 0 16px 32px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 4px 8px rgba(25, 201, 255, 0.3);
  }
}

#root {
  margin: auto;
  width: initial;
  padding: 10px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.container {
  background-color: #d5d5d5;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  height: fit-content;
  width: 100%;
  border-radius: 8px;
  padding: 1em;
  -webkit-box-shadow: 0px 0px 63px 42px rgba(37, 204, 254, 0.9);
  -moz-box-shadow: 0px 0px 63px 42px rgba(93, 250, 213, 0.9);
  box-shadow: 0px 0px 63px 42px rgba(36, 168, 255, 0.9);
}

.container form input {
  background-color: #f0f0f0;
  padding: 10px 15px;
  color: #333;
  box-shadow: inset 0 0 10px #a5a5a5;
  outline: none;
  border: none;
  border-radius: 8px;
  min-width: 60%;
}

.link-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}

.link-div a {
  color: #0077B5;
  text-decoration: none;
  transition: color 0.2s ease;
  padding: 5px 15px;
  border: 2px solid #0077B5;
  border-radius: 20px;
  background-image: url('');
  
  
}

.link-div a:hover {
  color: #00548A;
  background-color: #0077B5;
  text-decoration: none;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.one-card {
  background-color: #f9f9f9;
  border: 2px solid #c7c7c7;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
  color: #555;
  animation: glow 3s infinite;
  transition: background-color 0.3s ease; /* Add a transition for smooth hover effect */
}

.one-card:hover {
  background-color: #ffffff; /* Change background color on hover */
}

.link-div a {
  color: #0b2bfc;
  text-decoration: none;
}

.link-div a:hover {
  color: #000000;
  text-decoration: underline;
}

.task-container .one-card {
  background-color: #f9f9f9;
  border: 2px solid #c7c7c7;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Playfair Display', cursive;
}

.task-container .one-card a:hover {
  color: #000000;
  text-decoration: underline;
  
}

.link-div {
  padding: inherit;
}

.button-class {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.button-class {
  border-top-color: #0015ff;
  border-bottom-color: #2b2bff;
  border-left-color: #4c00ff;
  border-right-color: #280cff;
  border-width: 8px;
}

.bodytag {
  display: flow-root;
  background-image: url('https://instituteofcoaching.org/sites/default/files/styles/hero_image/public/intersectionality-primer-4x3.jpg?itok=Be0wDm0I');
  background-repeat: no-repeat;
  background-size: cover;
}

